.App {
  display: flex;
  position: relative;
  height: 100%;
  background: #222;
}

aside.menu {
  min-width: 200px;
  width: 200px;
  height: 100vh;
  padding: 15px 0 0 15px;
  -webkit-box-shadow: 5px 0px 15px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 0px 15px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 0px 15px 0px rgba(0, 0, 0, 0.5);
  position: fixed;
  background-color: #a0ff74;
}

aside.menu .createdWith {
  position: absolute;
  bottom: 1%;
  left: 7%;
  width: calc(200px - 7%);
}

.App main {
  position: relative;
  min-height: 100vh;
  max-width: calc(100% - 200px);
  width: calc(100% - 200px);
  left: calc(0% + 200px);
  background: #222;
  color: #ddd;
  padding: 10px 15px 10px 15px;
}

@media (max-width: 1023px) {
  .App {
    flex-direction: column;
  }

  .App aside.menu {
    display: none;
  }

  .App main {
    position: unset;
    min-height: 100vh;
    width: 100%;
    max-width: none;
    background: #222;
    color: #ddd;
    padding: 10px 15px 10px 15px;
  }
}

@media (max-width: 600px) {
  .App main .continentPage h1.title.is-1 {
    font-size: 26px;
  }
}
