.App {
  display: flex;
}

aside.menu {
  width: 200px;
  height: 100vh;
  padding: 15px 0 0 15px;
  -webkit-box-shadow: 5px 0px 15px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 0px 15px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 0px 15px 0px rgba(0, 0, 0, 0.5);
  position: relative;
  background-color: #a0ff74;
}

aside.menu .createdWith {
  position: absolute;
  bottom: 1%;
  left: 7%;
  width: calc(200px - 7%);
}

.App main {
  flex-grow: 1;
  background: #222;
  color: #ddd;
  padding: 10px 15px 10px 15px;
}
